@inherits LayoutComponentBase
<AuthorizeView>
    <Authorized>
        @if (context.User.IsInRole("Customer"))
        {
            <div class="page" style="display: block;">
                <div class="navbar cus-z-index">
                    <CusNavMenu />
                </div>
                <div class="main">
                    @Body
                </div>
            </div>
            <CusFooter />
        }
        @if (context.User.IsInRole("Staff"))
        {
            <div class="page" style="display: flex;">
                <div class="sidebar">
                    <StafNavMenu />
                </div>
                <div class="main">
                    <div class="content px-4">
                        @Body
                    </div>
                </div>
            </div>
        }

    </Authorized>
    <NotAuthorized>
        <div class="page" style="display: block;">
            <div class="navbar cus-z-index">
                <CusNavMenu />
            </div>
            <div class="content px-4">
                @Body
            </div>
        </div>
        <CusFooter />
    </NotAuthorized>
</AuthorizeView>
