@inherits LayoutComponentBase
@*<div class="page" style= "display: block;">
    <div class="navbar">
        <CusNavMenu />
    </div>
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>*@

<div class="page" style= "display: flex;">
    <div class="sidebar">
            <StafNavMenu />
        </div>
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

