<nav class="navbar navbar-expand-sm navbar-dark">
    <a class="navbar-brand" href="">TPharmacy</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@NavMenuCssClass navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <AuthorizeView>
                <Authorized>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="authentication/profile" Match="NavLinkMatch.All">
                            <span class="oi oi-person" aria-hidden="true"></span> Hello, @context.User.Identity.Name!
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="authentication/logout" Match="NavLinkMatch.All">
                            <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
                        </NavLink>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="authentication/register" Match="NavLinkMatch.All">
                            <span class="oi oi-person" aria-hidden="true"></span> Register
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="authentication/login" Match="NavLinkMatch.All">
                            <span class="oi oi-account-login" aria-hidden="true"></span> Log in
                        </NavLink>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>
</nav>

    @code {
        private bool collapseNavMenu = true;

        private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

        private void ToggleNavMenu()
        {
            collapseNavMenu = !collapseNavMenu;
        }
    }
