@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<div class="sidebar top-row navbar navbar-dark">
    <a class="navbar-brand" href="">Test</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <div class="container" style="margin-top: 15px;">
        <ul class="navbar-nav ml-auto">
            <AuthorizeView>
                <Authorized>
                    <li class="nav-item ">
                        <NavLink class="nav-link" href="authentication/profile" Match="NavLinkMatch.All">
                            <span class="oi oi-person" aria-hidden="true"></span> Hello, @context.User.Identity.Name!
                        </NavLink>
                    </li>
                    <li class="nav-item ">
                        <NavLink class="nav-link" href="authentication/logout" Match="NavLinkMatch.All" @onclick="BeginSignOut">
                            <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
                        </NavLink>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li class="nav-item ">
                        <NavLink class="nav-link" href="authentication/register" Match="NavLinkMatch.All">
                            <span class="oi oi-person" aria-hidden="true"></span> Register
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="authentication/login" Match="NavLinkMatch.All">
                            <span class="oi oi-account-login" aria-hidden="true"></span> Log in
                        </NavLink>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
        <ul class="nav flex-column">
            <li class="nav-item ">
                <NavLink class="nav-link" href="stafhome" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item ">
                <NavLink class="nav-link" href="fetchdata" Match="NavLinkMatch.All">
                    <span class="oi oi-list" aria-hidden="true"></span> Data
                </NavLink>
            </li>
            <li class="nav-item ">
                <NavLink class="nav-link" href="stafconsultation" Match="NavLinkMatch.All">
                    <span class="oi oi-cart" aria-hidden="true"></span> Orders
                </NavLink>
            </li>
            <li class="nav-item mr-auto">
                <NavLink class="nav-link" href="stafconsultation">
                    <span class="oi oi-chat" aria-hidden="true"></span> Consultation
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="inventory" @onmouseover="()=>expandProductMenu =!expandProductMenu">
                    <span class="oi oi-basket" aria-hidden="true"></span> Inventory
                </NavLink>
                @if (expandProductMenu)
                {
                    <ul class="nav flex-column">
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="stafproduct">
                                <span class="oi oi-list" aria-hidden="true"></span> Supplements
                            </NavLink>
                        </li>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="stafproduct">
                                <span class="oi oi-list" aria-hidden="true"></span> Pescription
                            </NavLink>
                        </li>
                    </ul>
                }
            </li>
            <li class="nav-item mr-auto">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list" aria-hidden="true"></span> Test User
                </NavLink>
            </li>
        </ul>
    </div>
</div>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private bool expandProductMenu;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
