@page "/orders/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<div class="container mt-5">
    <h1 class="header">View Order</h1>

\</div>

@code { [Parameter]
    public int id { get; set; }
    Order order = new Order();

    protected async override Task OnParametersSetAsync()
    {
        order = await _client.GetFromJsonAsync<Order>($"{Endpoints.OrdersEndpoint}/{id}");
    } }
