@page "/consultations/createsuccess"
@inject HttpClient _client
@inject NavigationManager _navManager
@attribute [Authorize]


<h3>Thank You For Booking for Consultation!</h3>
<br />
<TPharmacy.Client.Components.BackToList Target="/" />

@code {

}
