@page "/consultations/updatesuccess"
@inject HttpClient _client
@inject NavigationManager _navManager
@attribute [Authorize]


<div class="container mt-5">
    <h3>Thank you! Your Consultation is updated! </h3>
    <br />
    <TPharmacy.Client.Components.BackToList Target="/consultations/cindex/" />
</div>


@code {

}
