@page "/consultation/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@attribute [Authorize(Roles = "Admin, Packer, Pharmacist, Staff")]

<div class="container mt-5">
    <h1 class="header">View Consultation Details</h1>
    <hr />
    <StafFormComponent consultation="consultation" Disabled="true" />
    <hr />
    @if (Prescriptions == null)
    {
        <div class="alert alert-info">No Prescriptions Given Yet</div>
    }
    else
    {
        <table class="table table-striped align-middle table-bordered responsive-table" id="prescriptionsTable">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Pres Qty</th>
                </tr>
            </thead>

            @if (Prescriptions.Count == 0)
            {
                <tbody>
                    <tr>
                        <td colspan="3" class="alert alert-info">No Prescriptions Given Yet</td>
                    </tr>
                </tbody>
            }
            else
            {
                @foreach (var prescription in Prescriptions)
                {
                    <tbody>
                        <tr>
                            <td>@prescription.ProductID</td>
                            <td>@prescription.Product.ProdName</td>
                            <td>@prescription.PresQty</td>
                        </tr>
                    </tbody>
                }
            }


        </table>
    }
    <hr />
    <TPharmacy.Client.Components.BackToList Target="consultations/sindex" />
</div>


@code
{
    [Parameter] public int id { get; set; }
    Consultation consultation = new Consultation();
    private IList<Prescription> Prescriptions;

    protected async override Task OnParametersSetAsync()
    {
        consultation = await _client.GetFromJsonAsync<Consultation>($"{Endpoints.ConsultationsEndpoint}/{id}");
        Prescriptions = await _client.GetFromJsonAsync<IList<Prescription>>($"{Endpoints.PrescriptionsEndpoint}/GetConstultationPrescriptions/{id}");
    }
}
