@page "/staffproducts/create"
@inject HttpClient _client
@inject NavigationManager _navManager

<div class="container mt-5">
    <h1 class="header">Create New Products</h1>
    <FormComponent ButtonText="Create Product" OnValidSubmit="CreateProduct" product="product"></FormComponent>
</div>
@code
{
    Product product = new Product();

    private async Task CreateProduct()
    {
        await _client.PostAsJsonAsync(Endpoints.ProductsEndpoint, product);
        _navManager.NavigateTo("/staffproducts/");
    }
}
