@page "/shoppingcart"
@inject HttpClient _client
@inject IJSRuntime js
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@attribute [Authorize]

<div class="container mt-5">
    <div class="shopping-cart">
        <h1 class="header text-center">Shopping Cart</h1>
        <div class="cart-items-container">
            @if (OrderItems == null)
            {
                <div class="alert alert-info text-center">Loading items...</div>
            }
            else
            {
                decimal total = 0;
                @foreach (var orderitem in OrderItems)
                {
                    var customer = Customers.FirstOrDefault(c => c.CusEmail == name && c.ID == orderitem.Order.CustomerID);
                    if (customer != null)
                    {
                        <div class="cart-item row">
                            <div class="col-md-3 product-photo">
                                <img src="img/@orderitem.Product.ProdName .jpeg" class="Product Image">
                            </div>
                            <div class="col-md-6 product-info">
                                <h3>Product ID: @orderitem.ProductID</h3>
                                <h5>Quantity: @orderitem.OrderItemQtny</h5>
                                <h5>Description: @orderitem.Product.ProdDesc</h5>
                                <h5>Total: $@orderitem.OrderItemTotal</h5>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="edit-item-button">
                                    <a href="/shoppingcart/edit/@orderitem.ID" class="btn btn-primary">
                                        Edit
                                    </a>
                                </div>
                                <div class="remove-item-button" @onclick="@(()=>Delete(orderitem.ID))">
                                    <button class="btn btn-danger">Remove</button>
                                </div>
                            </div>
                        </div>
                        total += orderitem.OrderItemTotal;
                    }
                }
                <div class="cart-total text-left" style="padding-left: 900px;">
                    <h4>Total: $@total</h4>
                    <div class="checkout-button text-right">
                        <button class="btn btn-primary">Checkout</button>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

@code {
    private List<OrderItem> OrderItems;
    private List<Customer> Customers;
    private string name;

    protected async override Task OnInitializedAsync()
    {
        name = await GetUserName();
        await js.InvokeVoidAsync("console.log", "name:" + name);
        OrderItems = await _client.GetFromJsonAsync<List<OrderItem>>($"{Endpoints.OrderItemsEndpoint}");
        Customers = await _client.GetFromJsonAsync<List<Customer>>($"{Endpoints.CustomersEndpoint}");
    }

    private async Task<string> GetUserName()
    {
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User; return user.Identity.Name;
    }

    async Task Delete(int orderitemID)
    {
        var orderitem = OrderItems.First(q => q.ID == orderitemID);
        var confirm = await js.InvokeAsync<bool>
            ("confirm", $"Do you want to delete {orderitem.ID}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.OrderItemsEndpoint}/{orderitemID}");
            OrderItems = await _client.GetFromJsonAsync<List<OrderItem>>($"{Endpoints.OrderItemsEndpoint}");
        }
    }
}

