@page "/payments/view/{id:int}"
@inject HttpClient _client
@inject IJSRuntime js
@inject NavigationManager _navManager

<div class="container mt-5">
    <h1 class="header"> View Payment Details</h1>
    <div class="form-group">
        <label>PaymentID: </label>
        <div>
            <InputNumber @bind-Value="payment.ID" class="form-control" readonly="true" disabled="true" />
        </div>
    </div>
    <div class="form-group">
        <label>OrderID: </label>
        <div>
            <InputNumber @bind-Value="payment.OrderID" class="form-control" readonly="true" disabled="true" />
        </div>
    </div>
    <div class="form-group">
        <label>PayFee: </label>
        <div>
            <InputNumber @bind-Value="payment.PayFee" class="form-control" readonly="true" disabled="true" />
        </div>
    </div>

    <div class="form-group">
        <label>Card Info: </label>
        <div>
            <InputText @bind-Value="@payment.PayCardInfo" class="form-control" disabled="true" />
        </div>
    </div>
    <br />

</div>

@code
{
    [Parameter] public int id { get; set; }
    Payment payment = new Payment();

    protected async override Task OnParametersSetAsync()
    {
        payment = await _client.GetFromJsonAsync<Payment>($"{Endpoints.PaymentsEndpoint}/{id}");
    }
}
