@page "/payments/view/{id:int}"
@inject HttpClient _client
@inject IJSRuntime js
@inject NavigationManager _navManager

<div class="container mt-5">
    <h1 class="header"> View Payment Details</h1>
    <div class="form-group">
        <label>PaymentID: </label>
        <div>
            <p>@payment.ID</p>
        </div>
    </div>
    <div class="form-group">
        <label>OrderID: </label>
        <div>
            <p>@payment.OrderID</p>
        </div>
    </div>
    <div class="form-group">
        <label>PayFee: </label>
        <div>
            <p>@payment.PayFee</p>
        </div>
    </div>
    <div class="form-group">
        <label>Card Info: </label>
        <div>
            <p>@payment.PayCardInfo</p>
        </div>
    </div>
    <br />
</div>

@code
{
    [Parameter] public int id { get; set; }
    Payment payment = new Payment();

    protected async override Task OnParametersSetAsync()
    {
        payment = await _client.GetFromJsonAsync<Payment>($"{Endpoints.PaymentsEndpoint}/{id}");
    }
}
