@page "/cusproduct"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using TPharmacy.Shared
@attribute [Authorize]
@inject HttpClient Http

<h1>Product</h1>

@code {
}
