@layout CusNavMenu
@page "/CustomerTest"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using TPharmacy.Shared
@attribute [Authorize(Roles = "Customer")]
@inject HttpClient Http

<h1>Hello, world! This is Customer Page Hehe</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
