@inject HttpClient Http
@inject HttpClient _client
@inject IJSRuntime js
@using System.Security.Claims

@page "/"
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 col-xl-12">
            <div class=" mt-4 cut-over" style="height: 92%; width: auto; margin: 5px; text-align: center; background-color: #F7F8FA; border-radius: 7px; ">
                <div>
                    <h1 class="title" style="color: #006F1F; ">Welcome to TPharmacy </h1>
                    <br />
                    <h4 class="alt-txt">by Sheila & Jun </h4>
                    <br />
                    <h2>About Us</h2>
                    <br />
                    <h4 class="paracen">TPharmacy's objective is to make health and wellbeing available to everyone. Since COVID-19, we have been committed to providing online services for health and wellness items at the best possible price and with the most convenient experience. We think that health and wellness are universal rights that may be realized through compassion and community action. As a result, we have a consultation section where users can consult with their pharmacist. We hope that our faith will lead us as we work to make our mission a reality.</h4>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <a class="btn-green"><span>Why TPharmacy?</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<AuthorizeView>
    <Authorized>
        <div class="container-fluid padder mt-5">
            <h1>
                Products
            </h1>
            <h4>
                Order it for you or for your beloved ones
            </h4>
            <div class="container">
                @if (Products == null)
                {
                    <div class="alert alert-info">Loading Products...</div> }
                else
                {
                    int count = Convert.ToInt32(Math.Ceiling(Convert.ToDecimal(Products.Count) / Convert.ToDecimal(4)));

                    int card = 0;
                    @for (int g = 0; g < count; g++)
                    {
                        <div class="row">
                            @for (int i = 0; i < 4; i++)
                            {
                                if (card < Products.Count)
                                {
                                    <div class="col-sm-6 col-md-3 col-xl-3">
                                        <div class="product-card mt-5">
                                            <div class="content-card">
                                                <img src="img/@Products[card].ProdImg" class="product-img" />
                                            </div>
                                            <br />
                                            <br />
                                            <div class="content-text">
                                                <h3>
                                                    @Products[card].ProdName
                                                </h3>
                                            </div>
                                            <div class="align-bottom">
                                                <h2 class="price float-right">@Products[card].ProdPrice</h2>
                                            </div>
                                            <div>
                                                <a href="/productview/@Products[card].ID" class="btn btn-primary">
                                                    <span class="oi oi-book"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    card++;
                                }
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </Authorized>
</AuthorizeView>
<div class="container padder mt-5">
    <h1 class="glance-text" style="color:green">
        TPharmacy at a glance
    </h1>
    <div class="row">
        <div class="col-md col-xl">
            <div class="col gray-card">
                <div class=" mt-4">
                    <div class="content-card our-fact-card">
                        <span class="oi oi-globe our-fact"></span>
                    </div>
                    <div class="our-fact-text">
                        <h2>Locally Based in Singapore</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md col-xl">
            <div class="col gray-card">
                <div class=" mt-4">
                    <div class="content-card our-fact-card">
                        <span class="oi oi-thumb-up our-fact"></span>
                    </div>
                    <div class="our-fact-text">
                        <h2>Authentic Reviews</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md col-xl">
            <div class="col gray-card">
                <div class=" mt-4">
                    <div class="content-card our-fact-card">
                        <span class="oi oi-person our-fact"></span>
                    </div>
                    <div class="our-fact-text">
                        <h2>5K+ Active Customers</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container-fluid x-padder alt-back mt-5">
    <div class="container padding-taker mt-5">
        <h1>
            Testimonials
        </h1>
        <h4>
            Some quotes from our happy customers
        </h4>
        <div class="row">
            <div class="col-md-4 col col-xl-4">
                <div class="testi-back mt-4">
                    <div class="card-moder">
                        <div class="content-card">
                            <img class="testi" src="img/Mperson-outline-filled.png" />
                        </div>
                        <div class="mini-padder-taker">
                            <div class="content-card">
                                <span class="oi oi-star checked"></span>
                                <span class="oi oi-star checked"></span>
                                <span class="oi oi-star checked"></span>
                                <span class="oi oi-star checked"></span>
                                <span class="oi oi-star"></span>
                            </div>
                        </div>
                        <h2>“Very convenient for ordering”</h2>
                        <br />
                        <h4>Mark</h4>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col col-xl-4">
                <div class="testi-back mt-4">
                    <div class="card-moder">
                        <div class="content-card">
                            <img class="testi" src="img/Fperson-girl-outline-filled.png" />
                        </div>
                        <div class="mini-padder-taker">
                            <div class="content-card">
                                <span class="oi oi-star checked"></span>
                                <span class="oi oi-star checked"></span>
                                <span class="oi oi-star checked"></span>
                                <span class="oi oi-star checked"></span>
                                <span class="oi oi-star checked"></span>
                            </div>
                        </div>

                        <h2>“I love it! Has improve my health!”</h2>
                        <br />
                        <h4>Luisa</h4>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col col-xl-4">
                <div class="testi-back mt-4">
                    <div class="card-moder">
                        <div class="content-card">
                            <img class="testi" src="img/Mperson-outline-filled.png" />
                        </div>
                        <div class="mini-padder-taker">
                            <div class="content-card">
                                <span class="oi oi-star checked"></span>
                                <span class="oi oi-star checked"></span>
                                <span class="oi oi-star checked"></span>
                                <span class="oi oi-star checked"></span>
                                <span class="oi oi-star checked"></span>
                            </div>
                        </div>
                        <h2>“Recommended for everyone”</h2>
                        <br />
                        <h4>Edoardo</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<AuthorizeView>
    <Authorized>
        <div class="container x-padder mt-5">
            <h1>
                Popular
            </h1>
            <h4>
                Our top selling products that you may like
            </h4>
            @if (Products == null)
            {
                <div class="alert alert-info">Loading Products...</div> }
            else
            {
                int count = Convert.ToInt32(Math.Ceiling(Convert.ToDecimal(Products.Count) / Convert.ToDecimal(4)));

                int card = 0;
                @for (int g = 0; g < count; g++)
                {
                    <div class="row">
                        @for (int i = 0; i < 4; i++)
                        {
                            if (card < Products.Count)
                            {
                                <div class="col-sm-6 col-md-3 col-xl-3">
                                    <div class="product-card mt-5">
                                        <div class="content-card">
                                            <img src="img/@Products[card].ProdImg" class="product-img" />
                                        </div>
                                        <br />
                                        <br />
                                        <div class="content-text">
                                            <h3>
                                                @Products[card].ProdName
                                            </h3>
                                        </div>
                                        <div class="align-bottom">
                                            <h2 class="price float-right">@Products[card].ProdPrice</h2>
                                        </div>
                                        <div>
                                            <a href="/productview/@Products[card].ID" class="btn btn-primary">
                                                <span class="oi oi-book"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                card++;
                            }
                        }
                    </div>
                }
            }
        </div>
    </Authorized>
</AuthorizeView>
@code {
    private List<Product> Products;
    [CascadingParameter]
    public Task<AuthenticationState> AuthTask { get; set; }
    private ClaimsPrincipal user;

    protected async override Task OnInitializedAsync()
    {
        if (AuthTask == null)
        {
            return;
        }

        try
        {
            var authState = await AuthTask;
            this.user = authState.User;
            Products = await _client.GetFromJsonAsync<List<Product>>($"{Endpoints.ProductsEndpoint}");
            var numberGroups = Products.GroupBy(i => i.ProdCategory);
        }
        catch (Exception ex)
        {
            // Handle exception
        }
    }
}
