@page "/"
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 col-xl-12">
            <div class=" mt-4 cut-over" style="height: 92%; width: auto; margin: 5px; text-align: center; background-color: #F7F8FA; border-radius: 7px; ">
                <div>
                    <h1 class="title" style="color: #006F1F; ">Welcome to TPharmacy </h1>
                    <h5 class="alt-txt">by Sheila & Jun </h5>
                    <br />
                    <h2>About Us</h2>
                    <br />
                    <h4 class="paracen">TPharmacy's objective is to make health and wellbeing available to everyone. Since COVID-19, we have been committed to providing online services for health and wellness items at the best possible price and with the most convenient experience. We think that health and wellness are universal rights that may be realized through compassion and community action. As a result, we have a consultation section where users can consult with their pharmacist. We hope that our faith will lead us as we work to make our mission a reality.</h4>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <a class="btn-green"><span>Why TPharmacy?</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid padder mt-5">
    <h1>
        Products
    </h1>
    <h4>
        Order it for you or for your beloved ones
    </h4>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 col-xl-3">
                <div class="product-card mt-5">
                    <div class="content-card">
                        <img src="img/609237-holistic-way-super-lutein-60-vegetarian-capsules--1-800Wx800H.jpeg" class="product-img" />
                    </div>
                    <div class="content-text">
                        <h3>
                            Holistic way super lutein
                        </h3>
                    </div>
                    <div class="align-bottom">
                        <h2 class="price float-right">$30.00</h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-xl-3">
                <div class="product-card mt-5">
                    <div class="content-card">
                        <img src="img/619961-greenlife-evening-primrose-oil-300s-improved-formula-1-800Wx800H.jpeg" class="product-img" />
                    </div>
                    <div class="content-text">
                        <h3>
                            greenlife evening primrose oil improved
                        </h3>
                    </div>
                    <div class="align-bottom">
                        <h2 class="price float-right">$30.00</h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-xl-3">
                <div class="product-card mt-5">
                    <div class="content-card">
                        <img src="img/621294-vitahealth-vitamins-k2-d3-60s-1-800Wx800H.jpeg" class="product-img" />
                    </div>
                    <div class="content-text">
                        <h3>
                            Vitahealth vitamins k2
                        </h3>
                    </div>
                    <div class="align-bottom">
                        <h2 class="price float-right">$30.00</h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-xl-3">
                <div class="product-card mt-5">
                    <div class="content-card">
                        <img src="img/621688-swisse-ub-vitamin-d3-60caps-1-800Wx800H.jpeg" class="product-img" />
                    </div>
                    <div class="content-text">
                        <h3>
                            Swisse UB vitamin
                        </h3>
                    </div>
                    <div class="align-bottom">
                        <h2 class="price float-right">$30.00</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 col-xl-3">
                <div class="product-card mt-5">
                    <div class="content-card">
                        <img src="img/126555-shaklee-vita-lea-iron-formula-120-tabs-1-800Wx800H.jpeg" class="product-img" />
                    </div>
                    <div class="content-text">
                        <h3>
                            Shaklee Vita Lea
                        </h3>
                    </div>
                    <div class="align-bottom">
                        <h2 class="price float-right">$30.00</h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-xl-3">
                <div class="product-card mt-5">
                    <div class="content-card">
                        <img src="img/136320-ocean-health-joint-rx-300-caplets-1-800Wx800H.jpeg" class="product-img" />
                    </div>
                    <div class="content-text">
                        <h3>
                            Ocean Health Joint Rx 300
                        </h3>
                    </div>
                    <div class="align-bottom">
                        <h2 class="price float-right">$30.00</h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-xl-3">
                <div class="product-card mt-5">
                    <div class="content-card">
                        <img src="img/172523-blackmores-omega-fish-oil-400-capsules-1-800Wx800H.jpeg" class="product-img" />
                    </div>
                    <div class="content-text">
                        <h3>
                            Blackmores omega fish oil 400
                        </h3>
                    </div>
                    <div class="align-bottom">
                        <h2 class="price float-right">$30.00</h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-xl-3">
                <div class="product-card mt-5">
                    <div class="content-card">
                        <img src="img/602544-blackmores-vitamin-c-500mg-1-800Wx800H.jpeg" class="product-img" />
                    </div>
                    <div class="content-text">
                        <h3>
                            Blackmores Vitamin C 500mg
                        </h3>
                    </div>
                    <div class="align-bottom">
                        <h2 class="price float-right">$30.00</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container padder mt-5">
    <h1 class="glance-text" style="color:green">
        TPharmacy at a glance
    </h1>
    <div class="row">
        <div class="col-md col-xl">
            <div class="col gray-card">
                <div class=" mt-4">
                    <div class="content-card our-fact-card">
                        <span class="oi oi-globe our-fact"></span>
                    </div>
                    <div class="our-fact-text">
                        <h2>Locally base in Singapore</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md col-xl">
            <div class="col gray-card">
                <div class=" mt-4">
                    <div class="content-card our-fact-card">
                        <span class="oi oi-thumb-up our-fact"></span>
                    </div>
                    <div class="our-fact-text">
                        <h2>Authentic Reviews</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md col-xl">
            <div class="col gray-card">
                <div class=" mt-4">
                    <div class="content-card our-fact-card">
                        <span class="oi oi-person our-fact"></span>
                    </div>
                    <div class="our-fact-text">
                        <h2>5K+ Active customer</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container-fluid x-padder alt-back mt-5">
    <div class="container padding-taker mt-5">
        <h1>
            Testimonials
        </h1>
        <h4>
            Some quotes from our happy customers
        </h4>
        <div class="row">
            <div class="col-md-4 col col-xl-4">
                <div class="testi-back mt-4">
                    <div class="card-moder">
                        <div class="content-card">
                            <img class="testi" src="img/Mperson-outline-filled.png" />
                        </div>
                        <div class="mini-padder-taker">
                            <div class="content-card">
                                <span class="oi oi-star checked"></span>
                                <span class="oi oi-star checked"></span>
                                <span class="oi oi-star checked"></span>
                                <span class="oi oi-star checked"></span>
                                <span class="oi oi-star"></span>
                            </div>
                        </div>
                        <h2>“Very convivence for ordering”</h2>
                        <br />
                        <h4>Mart</h4>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col col-xl-4">
                <div class="testi-back mt-4">
                    <div class="card-moder">
                        <div class="content-card">
                            <img class="testi" src="img/Fperson-girl-outline-filled.png" />
                        </div>
                        <div class="mini-padder-taker">
                            <div class="content-card">
                                <span class="oi oi-star checked"></span>
                                <span class="oi oi-star checked"></span>
                                <span class="oi oi-star checked"></span>
                                <span class="oi oi-star checked"></span>
                                <span class="oi oi-star checked"></span>
                            </div>
                        </div>

                        <h2>“I love it! Has improve my health!”</h2>
                        <br />
                        <h4>Luisa</h4>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col col-xl-4">
                <div class="testi-back mt-4">
                    <div class="card-moder">
                        <div class="content-card">
                            <img class="testi" src="img/Mperson-outline-filled.png" />
                        </div>
                        <div class="mini-padder-taker">
                            <div class="content-card">
                                <span class="oi oi-star checked"></span>
                                <span class="oi oi-star checked"></span>
                                <span class="oi oi-star checked"></span>
                                <span class="oi oi-star checked"></span>
                                <span class="oi oi-star checked"></span>
                            </div>
                        </div>
                        <h2>“Recommended for everyone”</h2>
                        <br />
                        <h4>Edoardo</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container x-padder mt-5">
    <h1>
        Popular
    </h1>
    <h4>
        Our top selling product that you may like
    </h4>
    <div class="row">
        <div class="col-sm-6 col-md-3 col-xl-3">
            <div class="product-card mt-5">
                <div class="content-card">
                    <img src="img/126555-shaklee-vita-lea-iron-formula-120-tabs-1-800Wx800H.jpeg" class="product-img" />
                </div>
                <div class="content-text">
                    <h3>
                        Shaklee Vita Lea
                    </h3>
                </div>
                <div class="align-bottom">
                    <h2 class="price float-right">$30.00</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-xl-3">
            <div class="product-card mt-5">
                <div class="content-card">
                    <img src="img/136320-ocean-health-joint-rx-300-caplets-1-800Wx800H.jpeg" class="product-img" />
                </div>
                <div class="content-text">
                    <h3>
                        Ocean Health Joint Rx 300
                    </h3>
                </div>
                <div class="align-bottom">
                    <h2 class="price float-right">$30.00</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-xl-3">
            <div class="product-card mt-5">
                <div class="content-card">
                    <img src="img/172523-blackmores-omega-fish-oil-400-capsules-1-800Wx800H.jpeg" class="product-img" />
                </div>
                <div class="content-text">
                    <h3>
                        Blackmores omega fish oil 400
                    </h3>
                </div>
                <div class="align-bottom">
                    <h2 class="price float-right">$30.00</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-xl-3">
            <div class="product-card mt-5">
                <div class="content-card">
                    <img src="img/602544-blackmores-vitamin-c-500mg-1-800Wx800H.jpeg" class="product-img" />
                </div>
                <div class="content-text">
                    <h3>
                        Blackmores Vitamin C 500mg
                    </h3>
                </div>
                <div class="align-bottom">
                    <h2 class="price float-right">$30.00</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container-fluid footer-general mt-5">
        <div class="container">
            <hr class="whiteline" />
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <img src="icon-512.png" class="logo" /><h3>TPharmacy</h3>
                    </div>
                    <h4>
                        For your body and health.
                    </h4>
                </div>
                <div class="col-3">
                    <h5 class="alt-text-footer">Discovery</h5>
                    <ul>
                        <li>
                            <a href="#">New season</a>
                        </li>
                        <li>
                            <a href="#">Most searched</a>
                        </li>
                        <li>
                            <a href="#">Most selled</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3">
                    <h5 class="alt-text-footer">About</h5>
                    <ul>
                        <li>
                            <a href="#">Contact us</a>
                        </li>
                        <li>
                            <a href="#">Shipping</a>
                        </li>
                        <li>
                            <a href="#">Terms & Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
