@page "/stafhome"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using TPharmacy.Shared
@attribute [Authorize]
@inject HttpClient Http

<h1>Welcome to Test new app!</h1>


