@page "/stafhome"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using TPharmacy.Shared
@attribute [Authorize]
@inject HttpClient Http

<div class="Header">
    <span class="h2">Overview of TPharmacy’s </span><span class="h1">
        Welcome to the Staff Home!
    </span>
</div>

<div class="dr1">
    <div class="dr2"></div>
    <div class="drline"></div><span class="drword">Download Report</span>
</div>

<div class="order">
    <span class="order1">Orders </span><span class="order2">2</span>
    <div class="order3">View Orders Listing</div>
</div>

<div class="inventory">
    <div class="inventory1">
        Details
    </div>
    <span class="inventory2">Inventory</span><span class="inventory3">
        Total
        Supplements
    </span><span class="inventory4">03</span>
</div>

<div class="consultation">
    <div class="consultation1">
        Details
    </div>
    <span class="consultation2">TPharmacy</span><span class="consultation3">02</span><span class="consultation4">Pending Appointments</span>
</div>

<div class="sales">
    <div class="sales1">
        January 2023
    </div>
    <span class="sales2">Monthly Sales Report</span><span class="sales3">Supplements Sold</span><span class="sales4">03</span>
</div>

<div class="customer">
    <div class="customer1"> Customers Page </div>
    <span class="customer2">Customers</span><span class="customer3">
        TotalCustomers
    </span>
    <span class="customer6">03</span><span class="customer4">Vitamin C</span><span class="customer5">Frequently bought Item</span>
</div>
<div class="reportsales">
    <div class="reportsales1">Sales: 01-Jan-2023</div>
    <span class="reportsales2">$231 </span>
    <div class="reportsales3">
        View Sales Report
    </div>
</div>
<div class="appointments">
    <span class="appointments1">Appointments</span><span class="appointments2">2</span>
    <div class="appointments3">
        View Schedule
    </div>
</div>
<div class="outofstock">
    <span class="outofstock1">Out of Stock</span><span class="outofstock2">1</span>
    <span class="outofstock3">Order Now</span>
</div>


