@page "/prescriptions/create/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager
@attribute [Authorize(Roles = "Admin, Packer, Pharmacist, Staff")]

<div class="container mt-5">
    <h1 class="header">Create New Prescriptions</h1>
    <FormComponent ButtonText="Create Prescription" OnValidSubmit="CreatePrescription" prescription="prescription"></FormComponent>
</div>

@code
{
    [Parameter] public int id { get; set; }
    Prescription prescription = new Prescription();
    
    protected async override Task OnParametersSetAsync()
    {
        prescription = await _client.GetFromJsonAsync<Prescription>($"{Endpoints.PrescriptionsEndpoint}/{id}");
    }

    protected override void OnParametersSet()
    {
        prescription.ConsultationID = id;
    }

    private async Task CreatePrescription()
    {
        await _client.PostAsJsonAsync(Endpoints.PrescriptionsEndpoint, prescription);
        _navManager.NavigateTo("/consultations/sedit/" + id);
    }
}
