@page "/staffs/create"
@inject HttpClient _client
@inject NavigationManager _navManager

<div class="container mt-5">
    <h1 class="header">Create New Staffs</h1>
    <FormComponent ButtonText="Create Staff" OnValidSubmit="CreateStaff" staff="staff"></FormComponent>
</div>

@code 
{
    Staff staff = new Staff();
    private async Task CreateStaff()
    {
        await _client.PostAsJsonAsync(Endpoints.StaffsEndpoint, staff);
        _navManager.NavigateTo("/staffs/");
    }
}
