.Header {
    width: 500px;
    height: 60px;
    background-position: center center;
    position: absolute;
    top: 54px;
    left: 296px;
}

.h2 {
    position: absolute;
    top: 38px;
    left: 0px;
    font-size: 20px;
}

.h1 {
    width: 344px;
    position: relative;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
}

.dr1 {
    width: 192px;
    height: 46px;
    background-position: center center;
    position: absolute;
    top: 95px;
    left: 1250px;
}

.dr2 {
    width: 192px;
    height: 46px;
    border: 0.5px solid rgba(29, 36, 46, 1);
}

.drline {
    width: 8px;
    height: 3px;
    background: rgba(29, 36, 46, 1);
    position: absolute;
    top: 21px;
    left: 166px;
}

.drword {
    width: 129px;
    color: rgba(29, 36, 46, 1);
    position: absolute;
    top: 12px;
    left: 18px;
    font-size: 15px;
}

.order {
    width: 212px;
    height: 152px;
    position: absolute;
    top: 172px;
    left: 296px;
    border: 1px solid rgba(3, 169, 245, 1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.order1 {
    position: absolute;
    top: 78px;
    left: 82px;
    font-size: 15px;
    text-align: center;
}

.order2 {
    width: 19px;
    position: absolute;
    top: 32px;
    left: 100px;
    font-weight: Bold;
    font-size: 35px;
    text-align: center;
}

.order3 {
    width: 140px;
    height: 15px;
    position: absolute;
    top: 104px;
    left: 50px;
    font-size: 12px;
}

.inventory {
    width: 500px;
    height: 140px;
    position: absolute;
    top: 600px;
    left: 296px;
    border: 1px solid rgba(29, 36, 46, 0.30000001192092896);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.inventory1 {
    width: 45px;
    height: 15px;
    position: absolute;
    top: 17px;
    left: 370px;
    font-size: 15px;
}

.inventory2 {
    width: 95px;
    position: absolute;
    top: 15px;
    left: 30px;
    font-size: 20px;
}

.inventory3 {
    width: 145px;
    position: absolute;
    top: 98px;
    left: 30px;
    font-size: 15px;
}

.inventory4 {
    width: 45px;
    position: absolute;
    top: 55px;
    left: 30px;
    font-weight: Bold;
    font-size: 30px;
}

.consultation {
    width: 500px;
    height: 140px;
    position: absolute;
    top: 394px;
    left: 296px;
    border: 1px solid rgba(29, 36, 46, 0.30000001192092896);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.consultation1 {
    width: 45px;
    height: 20px;
    position: absolute;
    top: 15px;
    left: 370px;
    font-size: 15px;
    text-align: right;
}

.consultation2 {
    width: 113px;
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 20px;
    text-align: left;
}

.consultation3 {
    width: 27px;
    position: absolute;
    top: 55px;
    left: 33px;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
}

.consultation4 {
    width: 176px;
    position: absolute;
    top: 101px;
    left: 33px;
    font-size: 15px;
    opacity: 1;
    text-align: left;
}

.sales {
    width: 500px;
    height: 140px;
    position: absolute;
    top: 394px;
    left: 945px;
    border: 1px solid rgba(29, 36, 46, 0.30000001192092896);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.sales1 {
    width: 150px;
    height: 22px;
    position: absolute;
    top: 15px;
    left: 270px;
    font-size: 15px;
    text-align: right;
}

.sales2 {
    width: 250px;
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 20px;
    text-align: left;
}

.sales3 {
    width: 140px;
    position: absolute;
    top: 98px;
    left: 30px;
    font-size: 15px;
    text-align: left;
}

.sales4 {
    width: 26px;
    position: absolute;
    top: 55px;
    left: 30px;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
}

.customer {
    width: 500px;
    height: 140px;
    position: absolute;
    top: 600px;
    left: 945px;
    border: 1px solid rgba(29, 36, 46, 0.30000001192092896);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.customer1 {
    width: 165px;
    height: 19px;
    position: absolute;
    top: 15px;
    left: 310px;
    font-size: 15px
}

.customer2 {
    width: 90px;
    position: absolute;
    top: 13px;
    left: 30px;
    font-size: 20px;
    text-align: left;
}

.customer3 {
    width: 1230px;
    position: absolute;
    top: 98px;
    left: 30px;
    font-size: 15px;
    opacity: 1;
    text-align: left;
}

.customer6 {
    width: 26px;
    position: absolute;
    top: 55px;
    left: 30px;
    font-weight: Bold;
    font-size: 30px;
    text-align: left;
}

.customer4 {
    width: 103px;
    position: absolute;
    top: 67px;
    left: 264px;
    font-weight: Bold;
    font-size: 20px;
    text-align: left;
}

.customer5 {
    width: 185px;
    position: absolute;
    top: 99px;
    left: 264px;
    font-size: 15px;
    text-align: left;
}

.reportsales {
    width: 212px;
    height: 152px;
    position: absolute;
    top: 172px;
    left: 610px;
    border: 1px solid rgb(231, 198, 7);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.reportsales1 {
    width: 160px;
    height: 22px;
    position: absolute;
    top: 80px;
    left: 35px;
}

.reportsales2 {
    width: 121px;
    position: absolute;
    top: 33px;
    left: 45px;
    font-weight: Bold;
    font-size: 35px;
    text-align: center;
}

.reportsales3 {
    width: 144px;
    height: 15px;
    position: absolute;
    top: 104px;
    left: 50px;
    font-size: 12px;
}

.appointments {
    width: 212px;
    height: 152px;
    position: absolute;
    top: 172px;
    left: 925px;
    border: 1px solid rgb(157, 26, 201);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.appointments1 {
    width: 101px;
    position: absolute;
    top: 78px;
    left: 59px;
    font-size: 15px;
    text-align: center;
}

.appointments2 {
    width: 19px;
    position: absolute;
    top: 33px;
    left: 97px;
    font-weight: Bold;
    font-size: 32px;
    text-align: center;
}

.appointments3 {
    width: 106px;
    height: 15px;
    position: absolute;
    top: 104px;
    left: 63px;
    font-size: 12px;
}


.outofstock {
    width: 212px;
    height: 152px;
    position: absolute;
    top: 172px;
    left: 1230px;
    border: 1px solid rgba(240, 72, 62, 1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.outofstock1 {
    width: 100px;
    position: absolute;
    top: 78px;
    left: 55px;
    font-size: 15px;
    text-align: center;
}

.outofstock2 {
    width: 13px;
    color: rgba(29, 36, 46, 1);
    position: absolute;
    top: 33px;
    left: 97px;
    font-weight: Bold;
    font-size: 32px;
    opacity: 1;
    text-align: center;
}

.outofstock3 {
    width: 93px;
    height: 15px;
    position: absolute;
    top: 105px;
    left: 70px;
    font-size: 12px;
}
