@page "/stafconsultation"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using TPharmacy.Shared
@attribute [Authorize]
@inject HttpClient Http

<div class="container mt-5">
    <h1>Consultation</h1>
</div>

@code {

}
