@page "/stafhome"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using TPharmacy.Shared
@attribute [Authorize]
@inject HttpClient Http

<div class="container mt-5">
    <h4 class="header">
        Overview of TPharmacy’s
    </h4>
    <h1>Welcome to the Staff Home! </h1>
</div>