@page "/Profile/{id}"
@inject HttpClient _client
@inject NavigationManager _navManager

<div class="container mt-5">
    <h1 class="header">Your Profile</h1>
    <button class="btn btn-primary" @onclick="ViewOrderItems">View Order Items</button>
    <button class="btn btn-primary" @onclick="ViewOrders">View Orders</button>
    <br />
    <FormComponent ButtonText="Update" OnValidSubmit="EditCustomer" customer="customer"></FormComponent>
</div>

@code
{
    [Parameter] public string id { get; set; }
    Customer customer = new Customer();

    protected async override Task OnParametersSetAsync()
    {
        customer = await _client.GetFromJsonAsync<Customer>($"{Endpoints.CustomersEndpoint}/GetCustomer/{id}");
    }

    async Task EditCustomer()
    {
        await _client.PutAsJsonAsync($"{Endpoints.CustomersEndpoint}/{customer.ID}", customer);
        _navManager.NavigateTo("/");
    }
    private void ViewOrderItems()
    {
        _navManager.NavigateTo("/cusorderitems");
    }

    private void ViewOrders()
    {
        _navManager.NavigateTo("/cusorders");
    }
}

