@page "/Profile/{id}"
@inject HttpClient _client
@inject NavigationManager _navManager

<div class="container mt-5">
    <h1 class="header">Your Profile</h1>
    <FormComponent ButtonText="Update" OnValidSubmit="EditCustomer" customer="customer"></FormComponent>
    <br />
    <TPharmacy.Client.Components.BackToList Target="" />
</div>

@code
{
    [Parameter] public string id { get; set; }
    Customer customer = new Customer();

    protected async override Task OnParametersSetAsync()
    {
        customer = await _client.GetFromJsonAsync<Customer>($"{Endpoints.CustomersEndpoint}/GetCustomer/{id}");
    }

    async Task EditCustomer()
    {
        await _client.PutAsJsonAsync($"{Endpoints.CustomersEndpoint}/{customer.ID}", customer);
        _navManager.NavigateTo("/customers/updatesuccess/"+ id);
    }
}

